  <img class="example-logo example-logo-sm" src="http://placehold.it/100x60" alt="logo-company">
  <ol class="example-nav">
    <li><a [routerLink]="['/dashboard']" [routerLinkActive]="['router-link-active']"  [routerLinkActiveOptions]="{exact:true}" href="javascript:void(0);">Module 1</a></li>
    <li><a [routerLink]="['/happening']" [routerLinkActive]="['router-link-active']"  [routerLinkActiveOptions]="{exact:true}" href="javascript:void(0);" href="javascript:void(0);">Module 2</a></li>
    <li><a [routerLink]="['/fastfilter']" [routerLinkActive]="['router-link-active']"  [routerLinkActiveOptions]="{exact:true}" href="javascript:void(0);">Module 3</a></li>
    <li><a [routerLink]="['/code']" [routerLinkActive]="['router-link-active']"  [routerLinkActiveOptions]="{exact:true}" href="javascript:void(0);">Module 4</a></li>
    <li><a [routerLink]="['/report']" [routerLinkActive]="['router-link-active']"  [routerLinkActiveOptions]="{exact:true}">Module 5</a></li>
    <li><a [routerLink]="['/hitograma']" [routerLinkActive]="['router-link-active']"  [routerLinkActiveOptions]="{exact:true}">Module 6</a></li>
    <li><a [routerLink]="['/gantt']" [routerLinkActive]="['router-link-active']"  [routerLinkActiveOptions]="{exact:true}">Module 7</a></li>
  </ol>

  <!--<nav>
  <a [routerLink]="['/']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">HOME</a>
  <a [routerLink]="['/about']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">ABOUT</a>
</nav>-->
